body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("loginimg/di01.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo img {
    max-width: 650px;
    max-height: 650px;
  }
  
  label {
    font-weight: bold;
    color: aliceblue;
    font-size: 28px;
    font-family: "黑体";
  }
  
  input[type="text"],
  input[type="password"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .validation-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .valid {
    background-image: url("loginimg/对.png");
    background-size: cover;
    /* background-color: #8BC34A; */
  }
  
  .invalid {
    background-image: url("loginimg/叉号.png");
    background-size: cover;
    /* background-color: #F44336; */
  }
  